@import "tailwindcss";
@import "tw-animate-css";

@import "../cssFile/theme.css" layer(theme);

@theme inline {
  --font-a-mono: var(--font-azeret-mono, "Azeret Mono", monospace);
  --font-doto: var(--font-doto, "Doto", monospace);
}
:root {
  --background: #282a36;
  --current: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}
* body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  [data-color="cyan"] {
    --color-background: #8be9fd;
  }
  [data-color="green"] {
    --color-background: #50fa7b;
  }
  [data-color="orange"] {
    --color-background: #ffb86c;
  }
  [data-color="pink"] {
    --color-background: #ff79c6;
  }
  [data-color="purple"] {
    --color-background: #bd93f9;
  }
  [data-color="red"] {
    --color-background: #ff5555;
  }
  [data-color="yellow"] {
    --color-background: #f1fa8c;
  }
}
